SECRET_KEY=
PROXY_WORKER_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_MAIL_REDIRECT_URI=https://elitedevelop.pythonanywhere.com/mail/oauth/gmail/callback/
MAIL_TOKEN_ENCRYPTION_KEY=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
OPENROUTER_API_KEY=
FIELD_ENCRYPTION_KEY=
RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=
AI_WORKER_URL=
AI_WORKER_SECRET=
COLLABS_API_URL=
COLLABS_API_KEY=