Django==6.0.6
cryptography==49.0.0
django-allauth==65.0.1
django-machina==1.3.1
django-mfa2==3.2.0
django-oauth-toolkit==3.2.0
django-recaptcha==4.1.0
psutil==7.0.0
pywebpush==2.3.0
python-dotenv==1.0.1
qrcode==8.0
requests==2.34.2